.wrap {
    width: 80%;
    margin: 15px auto;
    padding: 15px 10px;
    background: white;
    border: 2px solid #DBDBDB;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.card-shadow{
    box-shadow: 0 1px 3px 0 rgb(23 23 23 / 30%), 0 4px 8px 3px rgb(10 10 10 / 15%);
}
.title,
.userName {
    font-weight: 700;
}

.post {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.post .title {
    font-style: italic;
}

.post .body {
    margin-top: 5px;
}